body {
	margin: 0;
	font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    min-height: 90vh;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
	background: #333;
	color: #fff;
	height: 10vh;
}

.header a {
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	border-radius: 30px;
	background-color: #444;
	padding: 5px 50px;
}

.header a:hover {
	background-color: #555;
}

.content {
    width: 80%;
	background-image: url(/static/image/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-radius: 20px;
	padding: 5px;
}

.content h1 {
    text-align: center;
    font-size: 18px;
}

.main-page {
    display: flex;
    justify-content: space-evenly;
    min-height: 80vh;
}

.main-styles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 7px;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 18px;
    box-shadow: 2px 2px 2px #ccc;
    background-color: #f9f9f9;
    opacity: 0.7;
    transition: all 0.7s ease;
    width: 15%;
    .word-english {
        display: block;
    }
}

.topics {
    display: none;
    font-size: 18px;
}

.main-styles.transform {
    transform: rotateY(180deg);
    .levels {
        display: none;
    }
    .topics {
        display: block;
        transform: rotateY(180deg);
    }
}

.sidebar {
    width: 20%;
	background-color: #f9f9f9;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 20px;
	padding: 10px;
}

.sidebar a {
	display: block;
	font-size: 18px;
	color: black;
	text-decoration: none;
	transition: all 0.3s ease;
	border-radius: 10px;
	padding: 6px 8px;
}

.sidebar a:hover {
	color: #ffffff;
	background-color: #333;
	transform: scale(1.1);
}

.topics h1 a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.topics h1 a:hover {
    text-decoration: none;
    color: red;
    cursor: pointer;
}

.words {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tests {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.word, .test {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: all 0.7s ease;
    opacity: 0.9;
    width: 20%;
    .word-english {
        display: block;
    }
}

.test {
    width: 46%;
    height: 30vh;
}

.test a:hover {
    color: red;
}

.word-english, .translate {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.word-ukrainian {
    display: none;
    font-size: 18px;
}

.word.transform {
    transform: rotateY(180deg);
    .word-english {
        display: none;
    }
    .word-ukrainian {
        display: block;
        transform: rotateY(180deg);
    }
}

.verbs {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.menu-verbs {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    position: sticky;
    top: 0;
    .verb {
        margin-bottom: 90px;
        background-color: #333;
        color: #fff;
    }
}

.verb {
    margin: 5px;
    padding: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #ccc;
    background-color: #f9f9f9;
    width: 20%;
    text-align: center;
}

.register {
    margin-top: 10%;
    text-align: center;
}

.register h1 {
    color: #555;
}

.login {
    margin-top: 10%;
    text-align: center;
}

.login form button {
    margin-top: 20px;
}

.form-error {
    color: red;
}

.form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-button {
    display: inline-block;
    padding: 10px 0px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    width: 408px;
    text-align: center;
}

.add-word {
    .form-button {
        width: 35vh;
        margin-top: 15px;
    }
    text-align: center;
    margin-top: 100px;
}

.form-button:hover {
    background-color: #555;
}

.form-input {
    width: 400px;
    height: 20px;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #ccc;
    background-color: #f9f9f9;
    transition: all 0.7s ease;
}

.tokens {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.api {
    display: flex;
    flex-direction: column;
}

.jwt {
    display: flex;
    flex-wrap: wrap;
}

.answers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #ccc;
    background-color: #f9f9f9;
    height: 60%;
}

.answer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.answer-choice, .answer-choice form {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.answer-choice .form-button {
    margin: 10px 0px;
}

.round-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    text-decoration: none;
    width: 110px;
    height: 110px;
    margin: 0px 100px;
    text-align: center;
}

.answer a.round-button {
    padding-top: 35px;
    height: 75px;
}

.round-button:hover {
    background-color: #555;
}

.check {
    padding-left: 20px;
}