body {
	margin: 0;
	font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    min-height: 90vh;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
	background: #333;
	color: #fff;
	height: 10vh;
}

.header a {
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	border-radius: 30px;
	background-color: #444;
	padding: 5px 50px;
}

.header a:hover {
	background-color: #555;
}

.content {
    width: 80%;
	background-image: url(/static/image/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-radius: 20px;
}

.content h1 {
    text-align: center;
    font-size: 24px;
}

.sidebar {
    width: 20%;
	background-color: #f9f9f9;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 20px;
	padding: 10px;
	padding-top: 30px;
}

.sidebar a {
	display: block;
	font-size: 18px;
	color: black;
	text-decoration: none;
	transition: all 0.3s ease;
	border-radius: 10px;
	padding: 6px 8px;
}

.sidebar a:hover {
	color: #ffffff;
	background-color: #333;
	transform: scale(1.1);
}

.word-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-page {
    display: flex;
    justify-content: space-around;
}

.level-block {
    display: flex;
    flex-direction: column;
}

.topics h1 {
    text-decoration: none
}

.word {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #ccc;
    background-color: #f9f9f9;
    width: 400px;
    transition: all 0.3s ease;
}

.word:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 4px #ccc;
}

.word-english {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.word-ukrainian {
    font-size: 20px;
    color: #555;
}

.login {
    margin-top: 10%;
    text-align: center;
}

.form-error {
    color: red;
}

.form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
}

.form-button:hover {
  background-color: #45a049;
}
