<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Words</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta name="viewport" content="width=device-width">
</head>
<body>
        <div class="header">
            <p><a href="{% url 'base' %}">На головну</a></p>
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }}! <a href="{% url 'logout_main' %}">Вийти</a></p>
            {% else %}
                <p><a href="{% url 'login_main' %}">Увійти</a> або <a href="{% url 'register' %}">Зареєструватися</a></p>
            {% endif %}
        </div>
    <div class="container">


        <div class="content">
            {% block content %}
                <h1>Оберіть рівень і тематику!</h1>
                    <div class="main-page">
                        {% for level in levels %}
                        <div class="main-styles">
                            <h1 class="levels">{{ level.name }}</h1>
                            <div class="topics">
                                {% if level.name == 'ir.verbs' %}
                                    <h1><a href="{% url 'verb' %}">ir.verbs</a></h1>
                                {% elif level.name == 'A1' %}
                                    {% for topic in topics1 %}
                                        <h1><a href="{% url 'word' my_arg=topic.id %}">- {{ topic.name }}</a></h1>
                                    {% endfor %}
                                {% elif level.name == 'A2' %}
                                    {% for topic in topics2 %}
                                        <h1><a href="{% url 'word' my_arg=topic.id %}">- {{ topic.name }}</a></h1>
                                    {% endfor %}
                                {% elif level.name == 'B1' %}
                                    {% for topic in topics3 %}
                                        <h1><a href="{% url 'word' my_arg=topic.id %}">- {{ topic.name }}</a></h1>
                                    {% endfor %}
                                {% elif level.name == 'B2' %}
                                    {% for topic in topics4 %}
                                        <h1><a href="{% url 'word' my_arg=topic.id %}">- {{ topic.name }}</a></h1>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            {% endblock content %}
        </div>



            <div class="sidebar">
                    {% if user.is_authenticated %}
                        <a href="{% url 'types' %}">Перейти до тестів</a>
                        <a href="{% url 'add_word' %}">Додати слово</a>
                        <a href="{% url 'show_words' %}">Подивитися свої слова</a>
                        <a href="{% url 'show_tests' %}">Подивитися результати тестів</a>
                    {% else %}
                        <a href="{% url 'types' %}">Перейти до тестів</a>
                        <a href="{% url 'login_main' %}">Додати слово</a>
                        <a href="{% url 'login_main' %}">Подивитися свої слова</a>
                        <a href="{% url 'login_main' %}">Подивитися результати тестів</a>
                    {% endif %}
            </div>
    </div>
    <script src="{% static 'js/rotate.js' %}"></script>
</body>
</html>
