{% extends 'words/base.html' %}
{% block content %}
  {% if answer == 'test' %}
    <h1>{{ result }}</h1>
    <p>Слово: {{ word.in_ukrainian }}</p>
    <p>Переклад: {{ word.in_english }}</p>
    <p>Ваша відповідь: {{ translation }}</p>
    <p><a href="{% url 'translate' my_arg='test'%}">Наступне слово</a></p>
  {% elif answer == 'choice' %}
    <h1>{{ result }}</h1>
    <p>Слово: {{ word.in_ukrainian }}</p>
    <p>Переклад: {{ word.in_english }}</p>
    <p><a href="{% url 'translate' my_arg='choice'%}">Наступне слово</a></p>
  {% elif answer == 'eng-test' %}
    <h1>{{ result }}</h1>
    <p>Слово: {{ word.in_english }}</p>
    <p>Переклад: {{ word.in_ukrainian }}</p>
    <p>Ваша відповідь: {{ translation }}</p>
    <p><a href="{% url 'translate' my_arg='eng-test'%}">Наступне слово</a></p>
  {% elif answer == 'eng-choice' %}
    <h1>{{ result }}</h1>
    <p>Слово: {{ word.in_english }}</p>
    <p>Переклад: {{ word.in_ukrainian }}</p>
    <p><a href="{% url 'translate' my_arg='eng-choice'%}">Наступне слово</a></p>
  {% endif %}
    <p><a href="{% url 'types' %}">Назад до тестів</a></p>
{% endblock content %}