{% extends 'words/base.html' %}
{% block content %}
    <h1>Перекладіть слово "{{ word.in_ukrainian }}"</h1>
    <form method="post" action="{% url 'check_translation' my_arg='choice'%}">
    {% csrf_token %}
    <input type="hidden" name="word_id" value="{{ word.id }}">
    <label><input type="radio" name="one" value="{{ one.in_english }}">1.{{ one.in_english }}</label>
    <label><input type="radio" name="two" value="{{ two.in_english }}">2.{{ two.in_english }}</label>
    <label><input type="radio" name="three" value="{{ word.in_english }}">3.{{ word.in_english }}</label>
    <label><input type="radio" name="four" value="{{ four.in_english }}">4.{{ four.in_english }}</label><br><br>
    <input type="submit" value="Перевірити">
    </form>
    <p><a href="{% url 'types' %}">Назад до тестів</a></p>
{% endblock content %}