{% extends 'words/base.html' %}
{% load static %}

{% block content %}
    {% if test == 'test' %}
    <div class="answers">
        <h1>Перекладіть слово - "{{ word.in_ukrainian }}"</h1>
        <div class="answer">
            <a href="{% url 'types' %}" class="round-button">Назад до тестів</a>
            <form method="post" action="{% url 'check_translation' my_arg='test'%}">
            {% csrf_token %}
            <input type="hidden" name="word_id" value="{{ word.id }}">
            <input type="text" name="translation" placeholder="Ваша вiдповiдь">
            <button class="round-button" type="submit">Перевірити</button>
            </form>
        </div>
    </div>
    {% elif test == 'choice' %}
    <div class="answers">
        <h1>Перекладіть слово "{{ word.in_ukrainian }}"</h1>
        <div class="answer-choice">
            <a href="{% url 'types' %}" class="form-button">Назад до тестів</a>
            <form method="post" action="{% url 'check_translation' my_arg='choice'%}">
            {% csrf_token %}
            <input type="hidden" name="word_id" value="{{ word.id }}">
            <label><input type="radio" name="choice" value="{{ one.in_english }}">{{ one.in_english }}</label>
            <label><input type="radio" name="choice" value="{{ two.in_english }}">{{ two.in_english }}</label>
            <label><input type="radio" name="choice" value="{{ word.in_english }}">{{ word.in_english }}</label>
            <label><input type="radio" name="choice" value="{{ four.in_english }}">{{ four.in_english }}</label>
            <button class="form-button" type="submit">Перевірити</button>
            </form>
        </div>
    </div>
    {% elif test == 'eng-test' %}
    <div class="answers">
        <h1>Перекладіть слово "{{ word.in_english }}"</h1>
        <div class="answer">
            <a href="{% url 'types' %}" class="round-button">Назад до тестів</a>
            <form method="post" action="{% url 'check_translation' my_arg='eng-test'%}">
            {% csrf_token %}
            <input type="hidden" name="word_id" value="{{ word.id }}">
            <input type="text" name="translation" placeholder="Ваша вiдповiдь">
            <button class="round-button" type="submit">Перевірити</button>
            </form>
        </div>
    </div>
    {% elif test == 'eng-choice' %}
    <div class="answers">
        <h1>Перекладіть слово "{{ word.in_english }}"</h1>
        <div class="answer-choice">
            <a href="{% url 'types' %}" class="form-button">Назад до тестів</a>
            <form method="post" action="{% url 'check_translation' my_arg='eng-choice'%}">
            {% csrf_token %}
            <input type="hidden" name="word_id" value="{{ word.id }}">
            <label><input type="radio" name="choice" value="{{ one.in_ukrainian }}">{{ one.in_ukrainian }}</label>
            <label><input type="radio" name="choice" value="{{ two.in_ukrainian }}">{{ one.in_ukrainian }}</label>
            <label><input type="radio" name="choice" value="{{ word.in_ukrainian }}">{{ word.in_ukrainian }}</label>
            <label><input type="radio" name="choice" value="{{ four.in_ukrainian }}">{{ four.in_ukrainian }}</label>
            <button class="form-button" type="submit">Перевірити</button>
            </form>
        </div>
    </div>
    {% endif %}
<script src="{% static 'js/mix.js' %}"></script>
{% endblock content %}
