{% extends 'words/base.html' %}

{% block content %}
<div class="tokens">
    <div class="api">
        <div>Token: Headers: Authorization: Token "your token"</div><br>
        <div class="jwt">
        {% for t in token %}
            <div>{{ t }}</div>
        {% endfor %}
        </div><hr>
        <div>JWT Token: Headers: Authorization: JWT "your token"</div><br>
        <div class="jwt">
        {% for access in access_token %}
            <div>{{ access }}</div>
        {% endfor %}
        </div><hr>
        <div>JWT Refresh Token: Headers: Authorization: JWT "your token"</div><br>
        <div class="jwt">
        {% for refresh in refresh_token %}
            <div>{{ refresh }}</div>
        {% endfor %}
        </div>
    </div>
    <div>
        <ul>API endpoints:
            <li>api/topics/ - усі теми</li>
            <li>api/topics/level_name/ - теми за рівнями</li>
            <li>api/levels/ - усі рівні</li>
            <li>api/words/ - усі слова</li>
            <li>api/verbs/ - усі діэслова</li>
            <li>api/user-words/ - усі додані слова і додати слово</li>
            <li>api/words/level/level_name/ - слова за рівнями</li>
            <li>api/words/topic/topic_name/ - слова за темами</li>
            <li>api/auth/users/ - реэстрація</li>
            <li>api/auth/users/me/ - інфо</li>
            <li>api/main-token/ - отримати основний токен</li>
            <li>api/token/ - отримати JWT токени</li>
            <li>api/token/refresh/ - оновити access JWT токен</li>
            <li>api/token/verify/ - перевірка JWT токену</li>
        </ul>
    </div>
</div>
{% endblock content %}
