{% extends 'words/base.html' %}

{% block content %}
<h1>Ваші токени:</h1>
<div class="tokens">
    <div class="api">
        <div>Token: Headers: Authorization: Token "your token"</div><br>
        <div class="jwt">
        {% for t in token %}
            <div>{{ t }}</div>
        {% endfor %}
        </div><hr><hr><hr>
        <div>JWT Token: Headers: Authorization: JWT "your token"</div><br>
        <div class="jwt">
        {% for access in access_token %}
            <div>{{ access }}</div>
        {% endfor %}
        </div><hr><hr><hr>
        <div>JWT Refresh Token: Headers: Authorization: JWT "your token"</div><br>
        <div class="jwt">
        {% for refresh in refresh_token %}
            <div>{{ refresh }}</div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
